/*font sizes*/
/*spacing*/
/*borders*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Smythe:400");
*, *::before, *::after {
  box-sizing: border-box;
}

/*Typography*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Smythe";
  margin: 0 2em;
}

.container {
  max-width: 500px;
  min-width: 400px;
  width: 60%;
  margin: 3em auto;
  box-shadow: 0px 20px 70px #E9E9EA;
}

h1 {
  font-size: 3.9rem;
  color: #fff;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  color: #000;
  margin: 0;
  font-weight: 400;
}

nav h3 {
  font-size: 2.4rem;
  color: #fff;
  margin-top: 1.4rem;
  font-weight: 400;
}

main h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 1.6rem;
  color: #8B8B8B;
  margin: 1rem 0;
}

button {
  background-color: #16DB99;
  color: #fff;
  border-radius: 3.8px;
  border: none;
}

main {
  padding: 4.6rem 4.6rem;
}

.order_notification {
  background-color: #ECFDF5;
  padding: 3.6rem 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #000;
  border-radius: 3.8px;
  margin-top: 3rem;
}

.order_notification h2 {
  color: #065F46;
}

.fa-plus:hover {
  border-color: rgb(249, 96, 40);
}

.fa-plus:active {
  color: red;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
  padding: 4.6rem 4.6rem;
}

.mySlides:first-of-type {
  background-image: url(https://source.unsplash.com/KEZdWfYD-ow);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mySlides:nth-of-type(2) {
  background-image: url(https://source.unsplash.com/MQUqbmszGGM);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mySlides:nth-of-type(3) {
  background-image: url(https://source.unsplash.com/C8eSYwQkwHw);
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
}

#reviews_container {
  display: none;
}

#form_modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-54.8%, -50%);
  align-items: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  width: 50%;
  max-width: 490px;
  min-width: 300px;
  height: 542px;
  flex-direction: column;
  border-radius: 3.8px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4rem 2.4rem;
  background-color: #fff;
  filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
}
#form_modal .form-input {
  border-radius: 3.8px;
  color: #757575;
  border: 1.3333333333px;
  margin: 2.4rem 0;
  padding: 1.8rem;
  width: 80%;
  border: 2px solid #757575;
}
#form_modal .form-input:focus, #form_modal .form-input :active {
  outline: none;
  border-color: #16DB99;
  background-color: #ECFDF5;
}
#form_modal #pay_btn {
  width: 80%;
  margin-top: 3rem;
  padding: 1.8rem 0;
  background-color: #16DB99;
  border: none;
  border-radius: 3.8px;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  font-size: 2rem;
}
#form_modal #pay_btn:hover {
  background-color: #11ad79;
}

.product {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #D2D2D2;
  justify-content: space-between;
  padding: 4.6rem 0;
  width: 100%;
  min-width: 350px;
}
.product .product-emoji {
  opacity: 0.72;
  height: 89px;
  font-weight: 400;
  font-size: 78.72px;
  margin: 0;
  line-height: 98px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 1.5rem;
}
.product .item_container {
  display: flex;
}
.product i {
  font-size: 2.4rem;
  font-weight: 400;
  border: 1.5px solid #D2D2D2;
  border-radius: 50%;
  padding: 1rem 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
}

#basket_layout {
  display: none;
}
#basket_layout h3 {
  color: #065F46;
}
#basket_layout .title {
  text-align: center;
  margin: 3rem 0;
}
#basket_layout #basket {
  padding: 0;
}
#basket_layout #buy_btn {
  width: 100%;
  margin-top: 3rem;
  padding: 1.8rem 0;
  background-color: #16DB99;
  border: none;
  border-radius: 3.8px;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
}
#basket_layout #buy_btn:hover {
  background-color: #11ad79;
}
#basket_layout .basket_total {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #000;
  padding-top: 1.4rem;
}
#basket_layout .basket_li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#basket_layout .basket_li div {
  display: flex;
  gap: 13px;
  align-items: center;
}
#basket_layout .basket_li:last-of-type {
  margin-bottom: 3rem;
}
#basket_layout .basket_li #remove_btn {
  background-color: transparent;
  color: #8B8B8B;
  cursor: pointer;
}

#review_form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
  width: 190px;
  height: 120px;
  border-radius: 5px;
}
#review_form textarea {
  margin: 0px;
  padding: 4px;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#review_form button {
  width: 100%;
  margin-top: 10px;
  padding: 1rem 0;
  background-color: #16DB99;
  border: none;
  border-radius: 3.8px;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
}
#review_form button:hover {
  background-color: #11ad79;
}

#reviews_container {
  flex-direction: column;
  margin-top: 3rem;
  text-align: center;
  justify-content: center;
  width: 100%;
}
#reviews_container #reviews_list {
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
}
#reviews_container #reviews_list .review_li {
  padding: 2rem;
  width: 60%;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#reviews_container #reviews_list .review_li .flex_container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 10px;
}
#reviews_container #reviews_list .review_li .flex_container .starts_container {
  font-size: 1.4rem;
}

#stars {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
#stars a {
  font-size: 1.6rem;
  opacity: 40%;
  cursor: pointer;
}
#stars a:hover {
  opacity: 100%;
}
#stars a:hover ~ a {
  opacity: 50%;
}
#stars:hover a {
  opacity: 100%;
}