$primary: #000;
$secondary: #8B8B8B;
$base-accent: #D2D2D2;
$box-accent: #065F46;
$title: #fff;
$btn-color: #16DB99;
$order_acceptance__box: #ECFDF5;
$form-color: #757575;

/*font sizes*/
$root-font-size: 62.5%;
$h1: 3.9rem;
$h2: 2.8rem;
$p: 1.6rem;
$h3: 2.4rem;

/*spacing*/
$base-margin: 1rem;
$base-padding: 1rem;
$font-margin: 0;
$top-m: 0;
$bottom-m: 0;
$section-padding: $base-padding*4.6;
$btn_padding: 1.8rem;
$mg-lg: 3rem;

/*borders*/
$base-border-radius: 3.8px;
$base-border-thickness: 2px;
$base-border: none;

/*Fonts*/
$ff-primary: 'Smythe';
$ff-secondary: 'Verdana';